
.card-area{
    display: flex;
    flex-direction: row;
flex-wrap: wrap;
}
.card{
    height: 445px;
    width: 550px;
    border: 3px solid #369D1A;
    background-color: #5B9977;
    position: relative;
    margin:10px;
}
.card:hover{
    box-shadow: 0 9px 18px 0 rgba(0,0,0,0.2);
}
.title{

    border:  2px solid darkgreen;
    height: 40px;
    width: 545px;
    text-align: center;
    background-color: darkgreen;
    color: lightgreen;
    font-size: x-large;
}
.top{
    display: flex;
    flex-direction: row;
    padding: 17px;
    border-bottom: 1px solid darkgreen;
}
.picture-container
{
    height: 225px;
    width:165px;
    border: 1px solid black;

}
.picture{
    height: 225px;
    width: 165px;

}
.picture:hover{
    box-shadow: 0 9px 18px 0 #094022 ;
}
.summary{
    height: 25px;
    width: 325px;
    border: 5px  solid darkgreen;
    font-size: x-large;
    color: lightgreen;
    padding: 10px;
    margin-right: 10px
;margin-left: 10px;
    text-align: center;



}
.words{
    width: 330px;
    text-align: center;
padding: 5px;
    color: #8BD161;
    font-size: medium;
}
.main{ position: relative;
    top: 250px;
    left: -170px;
    font-size: large;
   color: darkgreen;


}
.names{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: large;
    position: relative;
    top:350px;
    right:340px;


}
.Emma{
    color: orange;
    margin: 17px;
}
.Norman{
    color: white;
margin: 17px;
}
.Ray{
    color: black;
margin: 17px;
}
.column{
    flex-direction: column;

}
.avatar-container {
    position: absolute;
    top: 270px;
    right: 100px;
    padding: 10px;
align-content: space-around;


}


.avatar1{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    right: -100px;
    top:65px;
    padding: 3px;

}

.avatar{
    height: 65px;
    width: 65px;
    right: -35px;
    border-radius: 50%;
    padding: 15px;
}
.avatar3{

    height: 65px;
    width: 65px;

    right: -35px;
    border-radius: 50%;
    padding: 15px;
}
.avatar2{
    height: 65px;
    width: 65px;
    top: -77px;
    right: -35px;
    border-radius: 50%;
    padding: 15px;
}
.character1{
    position:relative;
    flex-direction: row;
    right:100px;
    top:75px;

}
.character10{
    position:relative;
    flex-direction: row;
    right:3px;
    top: 5px;

}.character100{
     position:relative;
     flex-direction: row;
     right:-90px;
     top:-65px;

 }
.character{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 7px;

}
.character2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 7px;
}
.character3{

    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 7px;

}
.fav{
    position: absolute;
    top: 305px;
    display: flex;
    flex-direction: row;
    padding: 5px;

}
.fav-border{
    border: 2px solid darkslategrey;
    height: 95px;
    width: 70px;

    margin: 10px;
}
.fav-border:hover{
    box-shadow: 0 9px 18px 0 rgba(0,0,0,0.2);
}
.Norman-pic{
    height: 95px;
    width: 70px;

}
.fav-story{
    height: 50px;
    width: 120px;
    text-align: left;
    padding:5px;
    font-size:14px;
    color: white;
}



.card2{
    height: 448px;
    width: 640px;
    border: 3px solid deeppink;
    background-color:#29a681;
    position: relative;
    margin:10px;

}
.card2:hover{
    box-shadow: 0 9px 18px 0 lightpink;
}
.title2{


    height: 40px;
    width: 640px;
    text-align: center;background-color: hotpink;
    color: lightpink;
    font-size: x-large;
}
.top-card{
    display: flex;
    flex-direction: row;
    padding: 19px;
    border-bottom: 1px solid deeppink;
}
.picture2-container
{height: 210px;
    width:155px;
    border: 1px solid black;

}
.picture2{
    height: 210px;
    width: 155px;

}
.picture2:hover{
    box-shadow: 0 9px 18px 0 lightpink;
}
.summary2{
    height: 25px;
    width: 330px;
    border: 5px  solid hotpink;
    font-size: x-large;
    color: lightpink;
    padding: 5px;
    margin-right: 10px
;margin-left: 10px;
    text-align: center;



}
.words2{
    width: 450px;
    text-align: center;
    padding: 5px;
    color: #e889c7;
    font-size: small;
}
.main2{ text-align: right;
    padding-right: 100px;
    font-size: large;
    color: deeppink;
}
.names2{
    display: flex;
    flex-direction: row;
    padding:65px;
    font-size: large;
    justify-content: space-between;

}
.Saiki{
    color:hotpink;
    padding-left:230px;
}
.Kaido{
    color: lightblue;
}
.Nendo{
    color: khaki;
}
.column2{
    flex-direction: column;

}
.avatar0-container {
    position: absolute;
    top: 270px;
    right: 110px;
    padding: 10px;


}


.avatar24{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    right: -100px;
    top:25px;
    padding: 3px;

}

.avatar222{
    height: 75px;
    width: 75px;
    right: -35px;
    border-radius: 50%;
    padding: 15px;
}
.avatar32{

    height: 75px;
    width: 75px;

    right: -35px;
    border-radius: 50%;
    padding: 15px;
}
.avatar22{
    height: 75px;
    width: 75px;
    top: -77px;
    right: -35px;
    border-radius: 50%;
    padding: 15px;
}
.character12{
    position:relative;
    flex-direction: row;
    right:118px;
    top:35px;

}
.character102{
    position:relative;
    flex-direction: row;
    right:13px;
    top: -47px;

}.character1002{
     position:relative;
     flex-direction: row;
     right:-92px;
     top:-125px;

 }
.character32{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 7px;

}
.character22{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 7px;
}
.character7{

    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 7px;

}
.fav2{
    position: absolute;
    top: 280px;
    display: flex;
    flex-direction: row;
}
.fav2-border{
    border: 2px solid darkslategrey;
    height: 95px;
    width: 70px;
margin: 20px;

}
.fav2-border:hover{
    box-shadow: 0 9px 18px 0
    #8428b5
;
}
.Aren-pic{
    height:105px;
    width:80px;
}
.fav2-story{
    height: 50px;
    width: 130px;
    text-align: left;

    font-size:14px;
    color: white;
    padding-right: 10px;
    padding-top: 40px;
}


.card3{
    height: 408px;
    width: 640px;
    border: 3px solid deeppink;
    background-color:#29a681;
    position: relative;
    margin:10px;

}
.card3:hover{
    box-shadow: 0 9px 18px 0 plum;
}
.title3{


    height: 40px;
    width: 640px;
    text-align: center;background-color: hotpink;
    color: lightpink;
    font-size: x-large;
}
.top3-card{
    display: flex;
    flex-direction: row;
    padding: 19px;
    border-bottom: 1px solid deeppink;
}
.picture3-container
{height: 210px;
    width:155px;
    border: 1px solid black;

}
.picture3{
    height: 210px;
    width: 155px;

}
.picture3:hover{
    box-shadow: 0 9px 18px 0 lightpink;
}
.summary3{
    height: 25px;
    width: 330px;
    border: 5px  solid hotpink;
    font-size: x-large;
    color: lightpink;
    padding: 5px;
    margin-right: 10px
;margin-left: 10px;
    text-align: center;



}
.words3{
    width: 450px;
    text-align: center;
    padding: 5px;
    color: #e889c7;
    font-size: small;
}
.main3{text-align: center; font-size: x-large;color: blue;
}
.names3{
    display: flex;
    flex-direction: row;
    padding: 65px;
    justify-content: space-around;

}
.Saiki{
    color:hotpink;
}
.Kaido{
    color: lightblue;
}
.Nendo{
    color: khaki;
}
.column3{
    flex-direction: column;

}
.avatar3-container {
    position: absolute;
    top: 260px;
    right: 110px;
    padding: 10px;


}


.avatar23{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    right: -100px;
    top:25px;
    padding: 3px;

}

.avatar333{
    height: 75px;
    width: 75px;
    right: -35px;
    border-radius: 50%;
    padding: 15px;
}
.avatar30{

    height: 75px;
    width: 75px;

    right: -35px;
    border-radius: 50%;
    padding: 15px;
}
.avatar33{
    height: 75px;
    width: 75px;
    top: -77px;
    right: -35px;
    border-radius: 50%;
    padding: 15px;
}
.character13{
    position:relative;
    flex-direction: row;
    right:118px;
    top:35px;

}
.character333{
    position:relative;
    flex-direction: row;
    right:13px;
    top: -47px;

}.character3333{
     position:relative;
     flex-direction: row;
     right:-92px;
     top:-125px;

 }
.character33{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 7px;

}
.character31{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 7px;
}
.character37{

    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 7px;

}
.fav3{
    position: absolute;
    top: 280px;
    display: flex;
    flex-direction: row;
}
.fav3-border{
    border: 2px solid darkslategrey;
    height: 95px;
    width: 70px;

    margin: 10px;
}
.fav3-border:hover{
    box-shadow: 0 9px 18px 0
    #8428b5
;
}
.Aren-pic{
    height: 95px;
    width: 70px;

}
.fav3-story{
    height: 50px;
    width: 120px;
    text-align: left;
    padding:5px;
    font-size:14px;
    color: white;
}





